<h1 class="signUpAddUser">Sign up</h1>
<form class="formAddUser">
    <div class="form-group col-sm-4 col-md-7 col-md-7 mt-5">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-sm-4 col-md-7 col-md-7 mt-5">
        <label for="exampleInputPassword1">Username</label>
        <input class="form-control" id="exampleInputPassword1" placeholder="Username">
    </div>
    <div class="form-group col-sm-4 col-md-7 col-md-7 mt-5">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group col-sm-4 col-md-7 col-md-7 mt-5">
        <label for="exampleInputPassword1">Re Enter Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>