<body id="home">

  <div class="row home-page">

    <div class="img-bg col s5">
      <h1> </h1>
    </div>

    <div class="login-half center col s7">
      <div class="container">


        <h1 class="site-title"><i class="medium material-icons prefix">schedule</i>Bay Calendars</h1>

        <div class="loginDiv">

          <h2 class="login-header">Login</h2>

          <div class="input-field col s12 ">

            <i class="material-icons prefix">account_circle</i>
            <input id="loginEmail" type="email">
            <label for="loginEmail">Email</label>

          </div>

          <div class="input-field col s12">

            <i class="material-icons prefix">vpn_key</i>
            <input id="loginPassword" type="password">
            <label for="loginPassword">Password</label>
            <small id="emailHelp" class="form-text">Don't have an account? <span id="signUpLink" class="signUpLink">Sign
                up</span> here!</small>

          </div>

          <button id="login" type="button" class="btn waves-effect">Sign In</button>

        </div>


        <div class="signUpDiv">

          <div class="row">
            <h2 class="signUpAddUser col s12 center">Sign up</h1>
          </div>

          <div class="row">

            <form class="formAddUser col s12">

              <div class="col s12 input-field">
                <i class="material-icons prefix">email</i>
                <label for="email">Email address</label>
                <input type="email" id="email">
              </div>

              <div class="col s12 input-field">
                <i class="material-icons prefix">account_circle</i>
                <label for="name">Name</label>
                <input type="text" id="name">
              </div>

              <div class="col s12 input-field">
                <i class="material-icons prefix">vpn_key</i>
                <label for="passwordOne">Password</label>
                <input type="password" id="passwordOne" >
              </div>

              <div class="col s12 input-field">
                <i class="material-icons prefix">vpn_key</i>
                <label for="passwordTwo">Re-Enter Password</label>
                <input type="password" id="passwordTwo" >

                <small id="emailHelp" class="form-text">Already have an account? <span id="loginLink"
                    class="loginLink">Login</span> here!</small>
              </div>


              <div class="col s12 m6 offset-m3">
                <button id="user-submit" type="button" class="btn">Sign Up</button>
              </div>

            </form>

          </div>

        </div>


      </div>
    </div>

  </div>
