<body class="home">

  <div class="row home-page">

    <div class="img-bg col s5">
      <h1> </h1>
    </div>

    <div class="login-half center col s7">
      <div class="container">


        <h1 class="site-title"><i class="medium material-icons prefix">schedule</i>Bay Calendars</h1>

        <h2 class="login-header">Login</h2>

        <div class="input-field col s12 ">

          <i class="material-icons prefix">account_circle</i>
          <input id="loginEmail" type="email">
          <label for="loginEmail">Email</label>

        </div>

        <div class="input-field col s12">

          <i class="material-icons prefix">vpn_key</i>
          <input id="loginPassword" type="password">
          <label for="loginPassword">Password</label>
          <small id="emailHelp" class="form-text">Don't have an account? <a href="/adduser">Sign up</a> here!</small>

        </div>

        <button id="login" type="button" class="btn waves-effect waves-green">Submit</button>

      </div>
    </div>

  </div>





  {{!-- 
  <title>Home</title>
  <h1 class="titleHomePage">Bay Calendars</h1>
  <br> --}}
  {{!-- <img class="img"
    src="https://lh3.googleusercontent.com/nsl-MtseNHvoGGV3Q1XGYjHvt4-yeMWi0ai2BltsosXPkLujQfaEe1e8Yg8N1lw-SOtQOkf26No=w640-h400-e365"
    alt="sample" width="600px" height="300px"> --}}
  {{!-- <form class="logInHomePage">
    <h2 class="signUpHomePage">Log In</h2>
    <div class="col s12 col m12 col l12">
      <label for="loginEmail">Email address</label>
      <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
    </div>
    <div class="col s12 col m12 col l12">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" id="loginPassword" placeholder="Password">
      <small id="emailHelp" class="form-text">Don't have an account? <a href="/adduser">Sign up</a> here!</small>
    </div>
    </div>
    <button id="login" type="button" class="btn btn-primary">Submit</button>
  </form>
</body>  --}}