<div class="container">
  <div class="row">

    <h1 class="col s12 center">Request an Event</h1>

  </div>

  <div class="row center">
    <p class="section-title col s12">Who</p>
    <p class="col s12">Who would you like to request a meetup with?</p>
  </div>

  <div class="row">
    <input class="col s12 m6 offset-m3" id="friend" type="text">
    <label class="col s12 m6 offset-m3" for="friend"></label>
  </div>


  <div class="row">

    <p class="section-title col s12 center">Dates</p>
    <p class="col s12 center">You would like your meetup to occur at some point between: </p>

    <div class="col s12 m6">
      <label for="startDate">Start of Date Range</label>
      <input type="text" class="datepicker start">
    </div>

    <div class="col s12 m6">
      <label for="endDate">End of Date Range</label>
      <input type="text" class="datepicker end">
    </div>

  </div>

  <div class="row">
    <p class="section-title col s12 center">Times</p>
    <p class="col s12 center">We will only send requests for times that do not interfere with events already on your
      calendar</p>
    <p class="col s12 center">Are there additional time restrictions you would like to set beyond those?</p>

    <div class="input-field col s6 m4 offset-s3 offset-m4">
      <select id="time-rest">
        <option value="1" defualt>None</option>
        <option value="2">Before</option>
        <option value="3">After</option>
        <option value="4">Between</option>
      </select>
      <label>Time Restrictions</label>
    </div>

    <div class="col s6 time timeOne">
      <input id="timeOne" type="text" class="timepicker time timeOne">
      <label class="time timeOne" for="timeOne">After</label>
    </div>

    <div class="col s6 time timeTwo">
      <input id="timeTwo" type="text" class="timepicker time timeTwo">
      <label class="time timeTwo" for="timeTwo">Before</label>
    </div>

  </div>

  <div class="row">
    <div class="col s12 m6">

      <p class="col s12 center section-title">Duration</p>

      <p class="col s12 center">How long will this event take?</p>

      <div class="row">

        <div class="input-field col s6">
          <select id="dur-hours">
            <option value="0">0</option>
            <option value="1" defualt>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label>Hours</label>
        </div>

        <div class="input-field col s6">
          <select id="dur-mins">
            <option value="1" defualt>0</option>
            <option value="2">15</option>
            <option value="3">30</option>
            <option value="4">45</option>
          </select>
          <label>Minutes</label>
        </div>

      </div>

    </div>

    <div class="col s12 m6">

      <p class="col s12 center section-title">Reason</p>

      <p class="col s12 center">Give a short reason or title for your request</p>
      <input class="col s6 offset-s3 m12" id="req-reason" type="text">

    </div>

  </div>


  <div class="row">
    <button id="submit-request" class="col btn waves-effect">Submit</button>
  </div>

</div>

<script src="js/request.js"></script>