<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo right">Bay Calendars</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/addEvent">Create Event</a></li>
            <li><a href="/request">Schedule Event</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>
{{!-- <div id="calContainer" class="container col-sm-4 col-md-7 col-lg-6 mt-5">

</div> --}}

<div id="dncalendar-container" class="container col s12 m10 l8">
    {{!-- <div id="dncalendar-links" class="dncalendar-links">
        <div id="dncalendar-prev-months" class="dncalendar-prev-months"></div>
        <div id="dncalendar-prev-months" class="dncalendar-next-months"></div>
    </div> --}}
</div>

<!-- Optional JavaScript for bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>


<script src="/js/index.js"></script>
<script src="/js/calendar.js"></script>