<nav>
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo right">Bay Calendars</a>
        <ul id="nav-mobile" class="left ">
            <li><a href="/addEvent">Create Event</a></li>
            <li><a href="/request">Schedule Event</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<div id="dncalendar-container" class="container col s12 m10 l8">
    {{!-- <div id="dncalendar-links" class="dncalendar-links">
        <div id="dncalendar-prev-months" class="dncalendar-prev-months"></div>
        <div id="dncalendar-prev-months" class="dncalendar-next-months"></div>
    </div> --}}
</div>

<!-- Optional JavaScript for bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>


<script src="/js/index.js"></script>
<script src="/js/calendar.js"></script>