<nav>
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo right">Bay Calendars</a>
        <ul id="nav-mobile" class="left ">
            <li><a href="/addEvent">Create Event</a></li>
            <li><a href="/request">Schedule Event</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<div id="dncalendar-container" class="container col s12 m10 l8">
    <div id="dncalendar-links" class="dncalendar-links">
        <div id="dncalendar-prev-month" class="dncalendar-prev-month">
            <i id="prev-month" class="material-icons prefix">arrow_back</i>
        </div>
        <div id="dncalendar-next-month" class="dncalendar-next-month"></div>
    </div>
</div>