@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Satisfy&display=swap');

html {
    height: 100%;
    background-color: #282828;
}

body {
    color: #116466;
    font-family: 'Advent Pro', sans-serif;
}

body#home {
    background: url("/images/andrik-langfield-0rTCXZM7Xfo-unsplash.jpg") no-repeat;
    background-size: 50% auto;
    height: 100%;
}


h1.site-title {
    font-family: 'Satisfy', cursive;
}

div.home-page {
    height: 100%;
}
/* 
div.img-bg {
    background: url("/images/andrik-langfield-0rTCXZM7Xfo-unsplash.jpg") repeat-y;
    background-size: 100% auto;
    height: 100%;
} */

div.login-half {
    background-color: #282828;
    height: 100vh;
}

h2.login-header {
    margin-top: 1.75em;
}

i.material-icons {
    margin-right: .25em;
}


input {
    color: #A8C6C7;
}


div.input-field input#loginEmail:focus+label, div.input-field input#loginPassword:focus+label {

    color: #BEA177;

}

/* label underline focus color */
div.input-field input#loginEmail:focus, 
div.input-field input#loginPassword:focus, 
div.input-field input#email:focus, 
div.input-field input#name:focus, 
div.input-field input#passwordOne:focus, 
div.input-field input#passwordTwo:focus {

    border-bottom: 1px solid #BEA177;
    box-shadow: 0 1px 0 0 #A67F44;

}

.input-field .prefix.active {
    color: #BEA177;

}

.btn, .btn-large, .btn-small {
    background-color: #116466;
    margin: 3px;
}


button.btn:hover {
    background-color: #0c4546;
}

.selected {
    background-color: #072a2b;
  }

span#loginLink, span#signUpLink {
    cursor: pointer;
    color:  #A67F44;
}

div.signUpDiv {
    display: none;
}

div#dncalendar-prev-month i#prev-month{
    color: #ffffff;
}

h1, li.userNameNav, .gold {
    color: #A67F44;
}
