body.home {
    height: 100%;
    background: linear-gradient(90deg, #ebe5d9 50%, #869dab 50%);
}

.titleHomePage {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 50px;
    /* padding-top: 40px; */
    padding-left: 200px;
    /* padding-bottom: 100px; */
}

.img {
    padding-left: 150px;
}

.signUpHomePage {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 40px;
    
}

.logInHomePage {
    float: right;
    padding-bottom: 300px;
    padding-right: 60px;
}