body {
  background-color: #282828;
}

div.nav-wrapper {
  background-color: #282828;
}

.list-group-item {
  line-height: 2.5;
}

p.section-title {
  font-size: 2em;
  font-weight: 600;
}

div.time {
  display: none;
}

div.timepicker-digital-display {
  background-color: #5F5B6B;
}

.datepicker, .timepicker {
  margin-top: 30px;
  width: 97%;
}